package schema

import (
	"entgo.io/ent"
	"entgo.io/ent/schema/field"
)

// {{.Name}} holds the schema definition for the {{.Name}} entity.
type {{.Name}} struct {
	ent.Schema
}

// Fields of the {{.Name}}.
func ({{.Name}}) Fields() []ent.Field {
	return []ent.Field{
		field.Uint64("id"),
{{- range .Fields }}
		field.{{.EntType}}("{{.Snake}}"){{if .Optional}}.Optional(){{end}},
{{- end }}
		field.Time("created_at").Optional().StructTag(`json:"-"`),
		field.Time("updated_at").Optional().StructTag(`json:"-"`),
		field.Time("deleted_at").Optional().Nillable().StructTag(`json:"-"`),
	}
}
