-- +goose Up
-- +goose StatementBegin
CREATE TABLE IF NOT EXISTS {{.PluralLower}} (
    id BIGSERIAL PRIMARY KEY,
{{- range .Fields }}
    {{.Snake}} {{.Column}} {{if .Optional}}NULL{{else}}NOT NULL{{if eq .GoType "string"}} DEFAULT ''{{end}}{{end}},
{{- end }}
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ,
    deleted_at TIMESTAMPTZ
);
-- +goose StatementEnd

-- +goose Down
-- +goose StatementBegin
DROP TABLE IF EXISTS {{.PluralLower}};
-- +goose StatementEnd
