-- +up
CREATE TABLE IF NOT EXISTS {{.PluralLower}} (
    id BIGSERIAL PRIMARY KEY,
{{- range .Fields }}
    {{.Column}} {{.Snake}} NOT NULL{{if eq .GoType "string"}} DEFAULT ''{{end}},
{{- end }}
    created_at TIMESTAMPTZ NOT NULL DEFAULT NOW(),
    updated_at TIMESTAMPTZ,
    deleted_at TIMESTAMPTZ
);

-- +down
DROP TABLE IF EXISTS {{.PluralLower}};
