package {{.Lower}}
{{if .HasDate}}import "time"
{{end}}

type CreateRequest struct {
{{- range .Fields }}
	{{.Name}} {{.GoType}} `json:"{{.Snake}}"{{if and (eq .GoType "string") (not .Optional)}} validate:"required"{{end}}`
{{- end }}
}

type UpdateRequest struct {
	ID uint64 `json:"id"`
{{- range .Fields }}
	{{.Name}} {{.GoType}} `json:"{{.Snake}}"`
{{- end }}
}
